---
layout: default
---

<div class="home">

  <ul class="post-list">


      {% for post in site.posts %}
        {% unless post.next %}
          <li class="year">{{ post.date | date: '%Y' }}</li>
        {% else %}
          {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
          {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
          {% if year != nyear %}
            <li class="year">{{ post.date | date: '%Y' }}</li>
          {% endif %}
        {% endunless %}
        <li>
          <span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </li>
      {% endfor %}


<!--     {% for post in site.posts %}

    <li><</li>

    {% endfor %} -->
  </ul>
</div>